
<div id="features-section" class="section">

  <div class="row">
    <div class="columns medium-6">
      <h1>Learn how to manage your personal finances effectively.</h1>
      <h1>Build better habits, get rewarded.</h1>
    </div>
    <div class="columns medium-6 product-features-wrapper">
      <img src="/assets/images/app-on-iphone-2.png" alt="Features">
    </div>
  </div>

</div>
