
<div id="intro-section" class="section active">

  <div class="row">
    <div class="columns large-10 large-centered">
      <div class="masthead row">
        <div class="columns large-6">
          <div id="product-demo-1"></div>
        </div>
        <div class="columns large-6 small-text-center large-text-left app-store-button">
          <h1>Introducing the Common Cents App. Learn to Earn.</h1>
          <a class="button app-store" data-transition="reload" href="https://itunes.apple.com/us/app/triplagent-discover-new-adventures/id692393671?ls=1&amp;mt=8">Coming Soon <span class="medium-up-visible-inline">to the App Store</span></a>
        </div>
      </div>
    </div>
  </div>

</div>
