
<div id="pitch-section" class="section">

  <div id="intro" class="slide active row">
    <div class="columns large-10 large-centered text-center">
      <img src="/assets/images/commoncents-logo-big.png" alt="Commoncents">
      <p>&nbsp;</p>
      <h2><a href="#" class="pitch-nav toSlide" data-index="2">Start Pitch</a></h2>
    </div>
  </div>

  <div id="problem" class="slide row">
    <div class="columns large-11 large-centered">
      <div class="columns large-10">
        <h1>The Problem</h1>
        <h2 class="featured">
          Only 7% of American high school students can be considered financially literate*
        </h2>
        <p>&nbsp;</p>
        <h2>
          Poor financial discipline leads to poor decisions
        </h2>
        <p class="indented">On average, young adults accumulate debt of $45,000
        <br>Only one-third believe they can achieve financial independence by 29</p>
      </div>
      <p class="footnote">
        * JumpStart Coalition
      </p>
      <div class="logo-watermark"></div>
    </div>
  </div>

  <div id="solution" class="slide row">
    <div class="columns large-11 large-centered">
      <div class="columns large-10">
        <h1>Our Solution</h1>
        <br>
        <h2 class="featured">CommonCents: Encourages students to learn about financial literacy to earn rewards in real life</h2>
        <p class="indented">&nbsp;</p>
        <h3>
          <strong>Why will kids use this? Three key differentiators:</strong>
        </h3>
        <p class="indented">Accessible</p>
        <p class="indented">Engaging</p>
        <p class="indented">Tangible incentives</p>
        <br>
        <br>
      </div>
      <div class="logo-watermark"></div>
    </div>
  </div>

  <div id="questions" class="slide row">
    <div class="columns large-11 large-centered">
      <div class="columns large-10">
        <h2 class="featured">
          Demo
        </h2>
      </div>

    </div>
  </div>

  <div id="business-model" class="slide row">
    <div class="columns large-11 large-centered">
      <div class="columns large-10">
        <h1>Business Model</h1>
        <br>
        <p class="indented">&nbsp;</p>
        <h3>
          <strong>Marketing &amp; Distribution</strong>
        </h3>
        <p class="indented">PTAs, national advocacy groups
        <br>Long-term: Marketing JV with textbook publisher</p>

        <h3>
          <strong>Monetization</strong>
        </h3>
        <h2>Two revenue streams:</h2>
        <p class="indented">Product placement: strategic partnerships or Kiip</p>
        <p class="indented">Future: credit card partnerships for pre-qualification</p>
        <h2>Free for students, free for schools!</h2>
        <h3>
          <strong>Proof of concept: Seattle school districts</strong>
        </h3>
      </div>
      <div class="logo-watermark"></div>
    </div>
  </div>

  <div id="questions" class="slide row">
    <div class="columns large-11 large-centered">
      <div class="columns large-10">
        <h2 class="featured">
          Thank You
        </h2>
      </div>

    </div>
  </div>

  <div id="apendix-financials" class="slide row long">
    <div class="columns large-11 large-centered">
      <div class="columns large-10">
        <h1>Appendix: Financials</h1>
        <br>
        <p class="indented">&nbsp;</p>
        <h3>
          <strong>Total Addressable Market</strong>
        </h3>
        <p class="indented">24,348 US high schools (NCES)
        <br>4.1 million students
        </p>

        <h3>
          <strong>Y1 Addressable Market</strong>
        </h3>
        <p class="indented">
          Eastside + Seattle HS students: ~60,000 students
        </p>

        <h3>
          <strong>Y1 User Penetration Goal</strong>
        </h3>
        <p class="indented">20%: 12000
        <br>Chunky acquisition strategy</p>

        <h3>
          <strong>Y1 Revenue Goal</strong>
        </h3>
        <p class="indented">Product Placement via Kiip: $30 eCPM * 500 impressions/user = $15/user LTV * 12,000 users = $180K
        <br>Credit partnerships: $0K
        <br>Total Y1 Revenue: $180K
        <br>*CAC = $5000/school ~$1-3/students</p>

      </div>
      <div class="logo-watermark"></div>
    </div>
  </div>

  <div id="apendix-financials" class="slide row">
    <div class="columns large-11 large-centered">
      <div class="columns large-10">
        <h1>Appendix: Partnerships</h1>
        <br>
        <p class="indented">&nbsp;</p>
        <h3>
          <strong>Total Addressable Market</strong>
        </h3>
        <p class="indented">&quote;A new model – real rewards for virtual achievements&quote;
        <br>Conduit to brands including Disney, Zappos, Sony, Best Buy, Amazon, Pepsi, NBC, Sephora and Sony
        </p>

        <h3>
          <strong>Potential data partners: Experian</strong>
        </h3>

        <h3>
          <strong>Education partner of choice: McGraw-Hill Education – Digital Platform Group</strong>
        </h3>
        <p class="indented">Trusted brand for schools nationwide
        <br>Have taken a digital-first route – all 4 petabytes of content available digitally</p>

      </div>
      <div class="logo-watermark"></div>
    </div>
  </div>

</div>
