@import "slides/intro";
@import "slides/pitch";
@import "slides/features";
@import "slides/rewards";
@import "slides/social";
@import "slides/footer";

#fullpage {
  z-index: 1;

  .section {
    background: transparent;

    .masthead {
      position: relative;
      padding: rem-calc(30) 0;

      .columns {
        position: relative;

        &:first-child {
          margin-bottom: rem-calc(30);
        }

        &.app-store-button {
          @media #{$large-up} {
            position: absolute;
            bottom: 25%;
            right: 0;
          }
        }
      }
    }
  }
}

#fullpage-bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $slide-intro-background;
  position: fixed;
  -webkit-transition: background .5s cubic-bezier(0.605, 0.310, 0.610, 1.000);
  -moz-transition: background .5s cubic-bezier(0.605, 0.310, 0.610, 1.000);
  transition: background .5s cubic-bezier(0.605, 0.310, 0.610, 1.000);
  z-index: 0;

  &.pitch-section {
    background: $slide-pitch-background;
  }

  &.features-section {
    background: $slide-features-background;
  }

  &.features-section-2 {
    background: $slide-features-background;
  }

  &.rewards-section {
    background: $slide-rewards-background;
  }

  &.social-section {
    background: $slide-social-background;
  }

  &.footer-section {
    background: $slide-footer-background;
  }

}

#fullPage-nav {
  &.top {
    top: 10px;
    li {
      display: inline-block;
    }
  }

  &.right {
    right: 10px;
  }
}

#fullPage-nav li,
.fullPage-slidesNav li {
  width: 22px;
  height: 22px;
  position: relative;
  margin-bottom: 10px;
}

#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
  background: rgba(255,255,255,0.5);
}

#fullPage-nav li a,
.fullPage-slidesNav li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#fullPage-nav span,
.fullPage-slidesNav span {
  background: rgba(255,255,255,0.25);
  border: none;
  bottom: 0;
  height: 18px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
