/*
Syntax error: Invalid CSS after "#": expected id name, was ""
        on line 1 of scss/slides/_intro.scss
        from line 1 of scss/_slides.scss
        from line 6 of scss/application.scss

1: #

Backtrace:
scss/slides/_intro.scss:1
scss/_slides.scss:1
scss/application.scss:6
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:1306:in `expected'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:1242:in `expected'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:1223:in `expr!'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:827:in `id_selector'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:781:in `simple_selector_sequence'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:747:in `_selector'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:722:in `selector'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:705:in `selector_sequence'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:627:in `ruleset'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:654:in `block_child'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:644:in `block_contents'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:116:in `stylesheet'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/scss/parser.rb:41:in `parse'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/engine.rb:409:in `_to_tree'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/engine.rb:305:in `to_tree'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:88:in `block in with_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:88:in `with_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:79:in `with_base'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:88:in `block in with_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:88:in `with_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:121:in `with_frame'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/stack.rb:79:in `with_base'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/tree/root_node.rb:20:in `render'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/engine.rb:274:in `render'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:414:in `update_stylesheet'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `each'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:393:in `on_file_changed'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/lib/sass/plugin/compiler.rb:248:in `block in watch'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:252:in `call'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:252:in `report_changes'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:321:in `poll_changed_directories'
/Users/chrismontes/.rvm/gems/ruby-2.0.0-p353/gems/sass-3.3.4/vendor/listen/lib/listen/adapter.rb:297:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"#\": expected id name, was \"\"\A         on line 1 of scss/slides/_intro.scss\A         from line 1 of scss/_slides.scss\A         from line 6 of scss/application.scss\A \A 1: #"; }
